@import "../../../styles.less";

:host {
    background-color: inherit;
    margin: auto;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        margin: 135px;

        header {
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 100%;
            margin-left: 45px;
            margin-top: 16px;
            font-weight: 500;
            .symbol {
                padding-bottom: 10px;
                font-size: 25px;
            }

            .company {
                font-size: 15px;
            }
        }
    }
}
